.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2a2634;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #159D80;
  color: #2a2634;
  padding: 10px 0;
}

.title {
  margin: 0;
}

.logo {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 10px;
}