.add-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.search {
  padding-top: 40px;
  padding-left: 20px;
}

.search-input {
  padding: 12px 15px;
  font-size: 18px;
  width: 70%;
  background-color: #0d0d0f;
  border-color: #2a2634;
  border-radius: 10px;
  color: white;
}

.search-input:focus {outline:0;}

.matches {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.match-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.row-city {
  width: 100%;
  text-align: left;
}
