.single-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.line {
  width: 100%;
  border-color: #159D80;
  margin: 0;
}

.forecast-or-info {
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  padding: 30px 10px;
}

.forecast-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}

.row-day {
  width: 25%;
  text-align: left;
  font-weight: bold;
}

.row-weather {
  width: 55%;
  text-align: left;}

.row-high {
  width: 10%;
  text-align: left;
}

.row-low {
  width: 10%;
  text-align: left;
}

.info-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.row-data {
  font-weight: bold;
  margin-top: 10px;
}

.toggle-info {
  width: 100%;
  display: flex;
  justify-content: left;
  color: #159D80;
  cursor: pointer;
  margin: 20px 10px;
}

.toggle-info:hover{
  color: rgb(89, 175, 157);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #159D80;
  color: #2a2634;
  height: 10%;
}

.view-every {
  cursor: pointer;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.view-every:hover{
  background-color: rgb(89, 175, 157);
  border-radius: 10px;
}

.toggle-location {
  cursor: pointer;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-location:hover{
  background-color: rgb(89, 175, 157);
  border-radius: 10px;
}
